* {
    text-align: center;
}

body {
    background-color: black;
}

h1 {
    color: #ffe400;
    font-family: monospace;
    font-size: 4em;
}

.choices {
    background: none;
    outline: none;
    border: none;
    font-size: 4em;
    display: inline-block;
    margin: 0.7em;
    transition: 0.15s;
    cursor: pointer;
    color: #ffe400;
}

.choices:hover {
    transform: scale(1.5);
}

#results {
    color: #ffe400;
    text-align: center;
    font-size: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-top: 20px;
}

.winner {
    font-size: 4rem;
}

.loser {
    opacity: 0.25;
}